/*Estilos Pagina Inicio*/

@import url('http://fonts.cdnfonts.com/css/kollektif');                

#inicio {
    background: #f9faf8;
    font-family: 'Muli';
}

#nav_drawer_inicio {
    width: 70%;
    height: 100%;
    padding-top: 0.5%;
    padding-left: 30%;
}

.nav_drawer_inicio {
    width: 15%;
    height: 220px;
    background-color: #f9faf8;
    padding-top: 10px;
    margin-left: 4px;
    margin-top: 14%;
    
}

#opcion1 {
    color: #f9faf8;
    background: #FF2626;
    border: 0;
    border-radius: .25rem;
    border: #FFEDDA 1px solid;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Kollektif', sans-serif;
}

#opcion2 {
    color: #f9faf8;
    background: #5D8233;
    border: 0;
    border-radius: .25rem;
    border: #FFEDDA 1px solid;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Kollektif', sans-serif;
}

#opcion3 {
    color: #f9faf8;
    background: #FACE7F;
    border: 0;
    border-radius: .25rem;
    border: #FFEDDA 1px solid;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Kollektif', sans-serif;
}

a {
    font-size: 1.0em;
    transition: all 0.5s ease;
    display: block;
    color: rgba(255, 255, 255, .5);
    background-color: #38A3A5;
    text-align: center;
}

.img-thumbnail {

    background-color: #fff;
    max-width: 120%;
    height: auto;
    float: right;
    padding-bottom: 0.5%;
}


/*Estilos Pagina Index*/

body {
    background: #f9faf8;
    font-family: 'Muli';
}

#nav_drawer {
    width: 17%;
    height: 150px;
    padding-left: 1.4%;
    margin-left: 4px;
}

.nav_drawer {
    width: 20%;
    height: 480px;
    background-color: #f9faf8;
    margin-left: 4px;
}


#menu {
    color: #0e0304;
    background: #BAC964;
    border: 0;
    border-radius: .25rem;
    margin: 20px;
    margin-top: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
}

a {
    font-size: 1.0em;
    transition: all 0.5s ease;
    display: block;
    color: rgba(255, 255, 255, .5);
    background-color: #38A3A5;
    text-align: center;
    font-family: 'Kollektif', sans-serif;
}

#menu:hover {
    background-color: #5D8233;
    color: #FFEDDA;
}

img {

    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 96%;
    height: auto;
    float:right;
}

#titulo {
    width: 470%;
    height: 130px;
    margin-left:110%;
    background-color: #ff2626;
}

h1{
    border: 1px solid #2d4b69;
    border-radius: .25rem;
    position:absolute;
    width: 80%;
    height: 30%;
    text-align: center;
    font-family: 'Kollektif', sans-serif;
    font-size: 4.5em;
}

#contenido {
    width: 470%;
    height: 320%;
    margin-left:110%;
    background-color: #f6ebcf;
}

/*Estilos Formulario*/

input:valid,
textarea:valid {
    background: green;
}

input:invalid,
textarea:invalid {
    background: red;
}