body {
    background: linear-gradient(200deg, #27156E, #6A2A88, #9F4981);
    font-family: 'Muli';
}

#nav_drawer {
    width: 15%;
    height: 120px;
    /* background-color:#3DB2FF; */
    padding-top: 10px;
    margin-left: 4px;
}

.nav_drawer {
    width: 15%;
    height: 500px;
    background-color: #3DB2FF;
    padding-top: 1px;
    margin-left: 4px;
    padding-bottom: 10px;
}


#menu {
    color: #FF2442;
    background: #FFEDDA;
    border: 0;
    border-radius: .25rem;
    border: #FFEDDA 1px solid;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

a {
    font-size: 1.0em;
    transition: all 0.5s ease;
    display: block;
    color: rgba(255, 255, 255, .5);
    background-color: #38A3A5;
    text-align: center;
}

#menu:hover {
    background-color: #57CC99;
    color: #FFEDDA;
}

img {

    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 96%;
    height: auto;
}